:root {
  --preto-05: rgba(245, 245, 245, 1);
  --preto-100: rgba(70, 70, 70, 1);
  --azul-100: rgba(42, 122, 228, 1);
  --pretobranco: rgba(255, 255, 255, 1);
  --preto-50: rgba(162, 162, 162, 1);
  --preto-30: rgba(200, 200, 200, 1);
  --azul-10: rgba(13, 41, 1, 1);
  --azul-80: rgba(85, 149, 233, 1);
  --azul-20: rgba(212, 228, 250, 1);
}
